<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://axxonconsulting6.crm2.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="mcerdeira@axxonconsulting.com" />
    <add key="password" value="$qwerty1708" />
    <add key="out" value="../typings/XRM" />
    <add key="solutions" value="" />
    <add key="entities" value="account, contact" />
    <add key="web" value="" />
    <add key="jsLib" value="../src/lib" />
  </appSettings>
</configuration>