<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
    <add name="CrmConnection" connectionString="AuthType=Office365;Username=mcerdeira@axxonconsulting.com;Password=$qwerty1708;Url=https://axxonconsulting6.crm2.dynamics.com;" />
</connectionStrings>
</configuration>