<html ng-app="crmApp">
<head>
    <title>How to use AngularJS for Dynamics CRM development?</title>
    <script src="../ClientGlobalContext.js.aspx"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-resource.min.js"></script>
    <script src="angularDynamicscrm.js"></script>
    <script src="dynamicscrmApp.js"></script>
</head>
<body ng-controller="AppController">
    <input ng-change="inputChanged()" ng-model="inputText"></input>
    <ul>
        <li ng-repeat="match in matches">
            <span>{{match.FullName}}</span>
        </li>
    </ul>
</body>
</html>